<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Actualizar Servicio</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/borrarusuario}">Usuarios</a></li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div>
            <h2>Formulario actualización de servicios</h2>
            
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                    <tr th:each="servicio:${servicios}">
                        <td><span th:text="${servicio.id}"></span></td>
                        <td><span th:text="${servicio.nombre}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(servicio.precio,1,2)} + ' €'"></span></td>
                        <td>
                            <form th:action="@{/servicios/actualizarservicio}" method="get">
                                <input type="hidden" name="idServicioSeleccionado" th:value="${servicio.id}"/>
                                <input type="submit" value="Actualizar" class="boton"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <form  th:if="${servicioSeleccionado!=null}" th:action="@{/servicios/actualizarservicio}" th:object="${servicioSeleccionado}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <label>Nombre:<br><input type="text" th:field="*{nombre}" class="input"/></label>
                <label>Precio:<br> <input type="number" th:field="*{precio}" step="0.01" class="input"/></label>
                <label><input type="submit" value="Guardar Cambios" class="boton"/></label>
            </form>
            <p th:if="${error}" th:text="${error}"></p>

        </div>
    </body>
</html>