<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Borrar Usuario</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/borrarusuario}">Usuarios</a></li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
            </ul>
        </nav>

        <div>
            <form th:action="@{/usuarios/borrarusuario}" method="get">
                <label>Nombre:</label>
                <input type="text" name="nombre" th:value="${nombreClienteBuscado}" placeholder="Introduce Nombre" class="input"/>
                <label>Apellido:</label>
                <input type="text" name="apellido" th:value="${apellidoClienteBuscado}" placeholder="Introduce Apellido" class="input"/>
                <label>Correo:</label>
                <input type="email" name="correo" th:value="${correoClienteBuscado}" placeholder="Introduce Correo" class="input"/><br>
                <button type="submit" class="boton">Filtar</button>
                <p th:if="${error}" th:text="${error}"></p>
            </form>
        </div>

        <div th:if="${usuarios!=null && !usuarios.isEmpty()}">
            <table>
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario:${usuarios}">
                    <td><span th:text="${usuario.id}"></span></td>
                    <td><span th:text="${usuario.nombre}"></span></td>
                    <td><span th:text="${usuario.apellido}"></span></td>
                    <td><span th:text="${usuario.email}"></span></td>
                    <td>
                        <form th:action="@{/usuarios/borrarusuario}" method="post">
                            <input type="hidden" name="id" th:value="${usuario.id}"/>
                            <input type="submit" value="borrar" class="boton"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    </body>
</html>