<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Crear Usuario</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <div>
            <form th:action="@{/usuarios/crearusuario}" th:object="${usuario}" method="post">
                <h2>Formulario creación de usuario</h2>
                Nombre:<br> <input type="text" th:field="*{nombre}" class="input" placeholder="Introduce tu nombre"/>
                Apellido:<br> <input type="text" th:field="*{apellido}" class="input" placeholder="Introduce tu apellido"/>
                Email:<br> <input type="email" th:field="*{email}" class="input" placeholder="Introduce tu email"/>
                Contraseña:<br> <input type="password" th:field="*{password}" class="input" placeholder="Introduce una contraseña"/>
                <br>
                <input type="submit" value="Crear Usuario" class="boton" th:onclick="return guardadoExitoso();"/>
                <a th:href="@{/usuarios/login}" class="boton">Volver</a>
            </form>
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </body>
    <script>
        function guardadoExitoso(){
            alert("Usuario creado correctamente");
            return true;
        }
    </script>
</html>