<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Crear Usuario</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <div>
            <h2>Formulario creación de usuario</h2>
            <form th:action="@{/usuarios/crearusuario}" th:object="${usuario}" method="post">
                <label>Nombre:<br> <input type="text" th:field="*{nombre}" class="input"/></label>
                <label>Apellido:<br> <input type="text" th:field="*{apellido}" class="input"/></label>
                <label>Email:<br> <input type="email" th:field="*{email}" class="input"/></label>
                <label>Contraseña:<br> <input type="password" th:field="*{password}" class="input"/></label>
                <input type="submit" value="Crear Usuario" class="boton"/>
                <a th:href="@{/usuarios/login}" class="boton">Volver</a>
            </form>
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </body>
</html>