<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Gestión de Servicios</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/borrarusuario}">Usuarios</a></li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:herf="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
            </ul>
        </nav>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/servicios/crearservicio}"><button class="btn_menu">Crear Servicio</button></a><br>
            <a th:href="@{/servicios/actualizarservicio}"><button class="btn_menu">Actualizar Servicio</button></a><br>
            <a th:href="@{/servicios/borrarservicio}"><button class="btn_menu">Borrar Servicio</button></a><br>
        </div>
    </body>
</html>