<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Actualizar Usuario</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/gestionarusuarios}">Usuarios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/usuarios/crearusuario}">Crear Usuario</a></li>
                        <li><a th:href="@{/usuarios/borrarusuario}">Borrar Usuario</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div>
            
            
            <form  th:if="${usuarioLogueado!=null}" th:action="@{/usuarios/gestionusuario}" th:object="${usuarioLogueado}" method="post">
                <h2>Formulario gestión de usuario</h2>
                <input type="hidden" th:field="*{id}"/>
                Nombre:<br><input type="text" th:field="*{nombre}" class="input"/>
                Apellido:<br> <input type="text" th:field="*{apellido}"  class="input"/>
                <input type="hidden" th:field="*{email}"/><br>
                <input type="submit" name="accion" value="Guardar Cambios" class="boton" th:onclick="return guardadoExitoso();"/>
                <input type="submit" name="accion" value="Borrar Usuario" class="boton" th:onclick="return confirmarBorrado();"/>
            </form>
            <p th:if="${error}" th:text="${error}"></p>

        </div>
    </body>
    <script>
        function confirmarBorrado(){
            if(confirm("¿Quieres borrar la cuenta?")){
                alert("Cuenta borrada correctamente");
                return true;
            }else{
                return false;
            }
        }

        function guardadoExitoso(){
            alert("Actualizado correctamente");
            return true;
        }
    </script>
</html>