<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Iniciar Sesion</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <div>
            <h1>Iniciar Sesion</h1>
            <form th:action="@{/usuarios/login}" method="post">
                <input type="email" name="email" placeholder="Email" class="input">
                <input type="password" name="contraseña" placeholder="Contraseña" class="input">
                <input type="submit" name="login"  value="Acceder" class="boton">
            </form>
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </body>
</html>