<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <div>
            <h1>Iniciar Sesión</h1>
            <form th:action="@{/login}" method="post">
                <input type="email" name="email" placeholder="Email" class="input">
                <input type="password" name="password" placeholder="Contraseña" class="input">
                <input type="submit" name="login"  value="Acceder" class="boton">
                <p th:if="${param.error}">Email o contraseña incorrecta</p>
                <p>* Crea tu usuario si no tienes cuenta</p>
                <a th:href="@{/usuarios/crearusuario}" class="boton">Crear Usuario</a>
            </form>
        </div>
    </body>
</html>