<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Cerrar Sesión</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <div>
            <form th:action="@{/logout}" method="post">
                <h1>Cerrar Sesión</h1><br>
                <input type="submit" name="logout"  value="Cerrar Sesión" class="boton">
                <a th:href="@{/usuarios/principal}" class="boton">Cancelar</a>
            </form><br>


        </div>
    </body>
</html>