<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Mis Citas</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/gestionarusuarios}">Usuarios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/usuarios/crearusuario}">Crear Usuario</a></li>
                        <li><a th:href="@{/usuarios/borrarusuario}">Borrar Usuario</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div>
            <h1>Mis citas</h1><br>
            <table>
                <thead>
                    <h3>Próximas citas</h3>
                    <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Servicio</th>
                    <th>Pago</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="cita:${citas}" th:if="${!cita.fecha.isBefore(T(java.time.LocalDate).now())}" >
                        <td><span th:text="${cita.fecha}"></span></td>
                        <td><span th:text="${cita.horaInicio}"></span></td>
                        <td><span th:text="${cita.horaFinal}"></span></td>
                        <td><span th:text="${cita.servicio.nombre}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(cita.servicio.precio,1,2)} + ' €'"></span></td>
                        <td>
                            <form th:action="@{/citas/miscitas}" method="post" >
                                <input type="hidden" name="id" th:value="${cita.id}"/>
                                <input type="submit" value="Cancelar Cita" class="boton" th:onclick="return confirmarCancelacion();"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table>
                <thead>
                    <h3>Citas Pasadas</h3>
                    <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Servicio</th>
                    <th>Pago</th>

                </tr>
                </thead>
                <tbody>
                    <tr th:each="cita:${citas}" th:if="${cita.fecha.isBefore(T(java.time.LocalDate).now())}">
                        <td><span th:text="${cita.fecha}"></span></td>
                        <td><span th:text="${cita.horaInicio}"></span></td>
                        <td><span th:text="${cita.horaFinal}"></span></td>
                        <td><span th:text="${cita.servicio.nombre}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(cita.servicio.precio,1,2)} + ' €'"></span></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        function confirmarCancelacion(){
            if(confirm("¿Quieres cancelar la reserva?")){
                alert("Cita cancelada correctamente");
                return true;
            }else{
                return false;
            }
        }
    </script>
</html>