<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Principal</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#">Cita</a></li>
                <li><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></li>
            </ul>
        </nav>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/usuarios/borrarusuario}"><button class="btn_menu">Gestionar Usuarios</button></a><br>
            <a th:href="@{/servicios/crearservicio}"><button class="btn_menu">Crear Servicio</button></a><br>
            <a th:href="@{/servicios/borrarservicio}"><button class="btn_menu">Borrar Servicio</button></a><br>
            <a th:href="@{/citas/borrarcita}"><button class="btn_menu">Gestionar Citas</button></a><br>
        </div>
        <div sec:authorize="hasRole('CLIENTE')">
            <a th:href="@{/citas/reservarcita}"><button class="btn_menu">Reservar Cita</button></a><br>
            <a th:href="@{/citas/miscitas}"><button class="btn_menu">Ver mis citas</button></a><br>
            <a th:href="@{/servicios/verservicios}"><button class="btn_menu">Ver servicios</button></a><br>
        </div>
    </body>
</html>