<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <title>Reservar Cita</title>
        <link rel="stylesheet" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <nav>
            <ul sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/usuarios/borrarusuario}">Usuarios</a></li>
                <li><a th:href="@{/citas/borrarcita}">Citas</a></li>
                <li class="submenu"><a th:href="@{/servicios/gestionarservicios}">Servicios</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/servicios/crearservicio}">Crear Servicio</a></li>
                        <li><a th:href="@{/servicios/actualizarservicio}">Actualizar Servicio</a></li>
                        <li><a th:href="@{/servicios/borrarservicio}">Borrar Servicio</a></li>
                    </ul>
                </li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

            <ul sec:authorize="hasRole('CLIENTE')">
                <li><a th:href="@{/usuarios/principal}">Inicio</a></li>
                <li class="submenu"><a th:href="@{/citas/gestionarcita}">Cita</a>
                    <ul class="desplegable">
                        <li><a th:href="@{/citas/reservarcita}">Reservar Cita</a></li>
                        <li><a th:href="@{/citas/miscitas}">Mis Citas</a></li>
                    </ul>
                </li>
                
                <li class="submenu"><a th:href="@{/servicios/verservicios}">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="usuario" sec:authorize="isAuthenticated()"><span sec:authentication="principal.nombre"></span>
                    <ul class="desplegable">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/gestionusuario}">Gestionar Usuario</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/usuarios/logout}" >Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div>
            <form th:action="@{/citas/reservarcita}" method="get">
                <h2>Formulario de reserva</h2>
                Fecha:
                <input type="date" name="fecha" th:value="${fechaSeleccionada}" required class="input"/>
                <button type="submit" class="boton">Mostrar horas</button>
            </form>
            <form th:if="${fechaSeleccionada!=null}" th:action="@{/citas/reservarcita}" th:object="${cita}" method="post">
                <h5 style="color: rgba(0, 0, 0, 0);">----------------------------------------------</h5>
                <input type="hidden" th:field="*{fecha}" required /> 
                <label>Hora: </label>
                    <select th:field="*{horaInicio}" required class="input">
                        <option value="">Selecciona una hora</option>
                        <option th:each="hora:${horasDisponibles}" th:value="${hora}" th:text="${hora}" ></option>
                    </select>
                    <label>Servicio: </label>
                    <select th:field="*{servicio.id}" required class="input">
                        <option value="0">Selecciona un servicio</option>
                        <option th:each="servicio:${servicios}" th:value="${servicio.id}" th:text="${servicio.nombre} + ' -- ' + ${#numbers.formatDecimal(servicio.precio,1,2)} + ' €'"></option>
                    </select>
                    
                    <input type="hidden" th:field="*{cliente.id}" th:value="${cita.cliente.id}"/>
                    <p>Cliente: <span th:text="${cita.cliente.nombre}"></span></p><br>
                    <p th:if="${error!=null}" th:text="${error}"></p>
                    <button type="submit" class="boton" th:onclick="return reservaExitosa();">Reservar</button>
            </form>
        </div>
    </body>
    <script>
        function reservaExitosa(){
            alert("Cita reservada correctamente");
            return true;
        }
    </script>
</html>